
<h1>About us</h1>
<p>This is Katherin Howard's Christmas present for 2014. She now has her own web application 
that can be accessed from anywhere, including moblie phones. Use it as a pinterest type app for your students. They 
can all signup and have access to it as well with their own personal logins. Upload pictures from home. Then everything can be shared in class, even using the IPads.</p>